# Configuración de variables de entorno
# Copia este archivo a .env y rellena los valores necesarios

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLIENT_URL=
SUPABASE_URL=
SUPABASE_KEY=
